@use 'variables'
@use 'short-code'

*
    font-family: variables.$mainFontFamily
html
    scroll-behavior: smooth
a,button
    @include short-code.text-DO
    cursor: pointer
a
    &:hover, &:focus
        @include short-code.text-DO
button
    &:hover, &:focus
        @include short-code.text-DO
#goTpButton
    display: inline-block
    background-color: variables.$black
    width: 40px
    height: 40px
    text-align: center
    border-radius: variables.$radius2
    position: fixed
    bottom: 65px
    right: 30px
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s
    opacity: 0
    visibility: hidden
    z-index: 8
    &::after
        @include short-code.fontAwesomeCreate('\f077')
        font-size: 1.5em
        line-height: 40px
        color: variables.$white
    &.show
        opacity: 0.5
        visibility: visible
    &:hover
        opacity: 1
        background-color: variables.$color1
.select2
    width: 100% !important
.csm-header-1
    border-radius: variables.$radius7
    padding: 5px 30px
.csm-header-menu-1
    li
        margin:
            right: 25px
        &:last-child
            margin:
                right: 0px
    a
        @include short-code.textCreate1(20px, 1.2, variables.$fontWeightSemiBold, variables.$color3, 0px)
        transition: all .3s ease
        &:hover
            color: variables.$color1
        &.active
            color: variables.$color2
            font-weight: variables.$fontWeightBlack
.csm-btn-1
    @include short-code.textCreate1(16px, 24px, variables.$fontWeightSemiBold, variables.$color1, 0px)
    display: inline-flex
    align-items: center
    justify-content: center
    min-height: 45px
    padding: 5px 10px
    min-width: 150px
    background-color: transparent
    border: 1px solid variables.$color1
    transition: all .3s ease
    text-align: center
    border-radius: variables.$radius6
    &:hover
        background-color: variables.$color1
        color: variables.$white
    i
        padding:
            right: 10px
.csm-btn-2
    @include short-code.textCreate1(16px, 24px, variables.$fontWeightSemiBold, variables.$white, 0px)
    display: inline-flex
    align-items: center
    justify-content: center
    min-height: 45px
    padding: 5px 10px
    min-width: 150px
    background-color: variables.$color2
    border: 1px solid variables.$color2
    transition: all .3s ease
    text-align: center
    border-radius: variables.$radius6
    &:hover
        background-color: transparent
        color: variables.$color2
    i
        padding:
            right: 10px
.csm-header-action-m-1
    .csmham1-item-1
        margin:
            right: 20px
        &:last-child
            display: none
            margin:
                right: 0px
        &:nth-child(2)
            margin:
                right: 0px
    .csm-btn-1, .csm-btn-2
        i
            display: none
.csm-humberge-m-1
    cursor: pointer
    position: relative
    height: 14px
    max-width: 32px
    width: 100%
    margin: 0 auto
.csm-humberge-m-1-top
    border-radius: variables.$radius3
    height: 4px
    width: 100%
    background: variables.$color2
    position: absolute
    transform: rotate(0deg)
    top: 0
    animation-name: topreverse
    animation-duration: 0.65s
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1)
    animation-fill-mode: forwards
.csm-humberge-m-1-bottom
    border-radius: variables.$radius3
    height: 4px
    width: 100%
    background: variables.$color2
    position: absolute
    transform: rotate(0deg)
    bottom: 0
    animation-name: bottomreverse
    animation-duration: 0.65s
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1)
    animation-fill-mode: forwards
.csm-humberge-m-1
    &.is-active
        .csm-humberge-m-1-top
            top: 28.8333333333%
            animation-name: top
            animation-duration: 0.65s
            animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1)
            animation-fill-mode: forwards
        .csm-humberge-m-1-bottom
            bottom: 45.8333333333%
            animation-name: bottom
            animation-duration: 0.65s
            animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1)
            animation-fill-mode: forwards
        .no-animation
            animation: none
@-webkit-keyframes top
    0%
        top: 0%
    60%
        top: 45.8333333333%
        transform: rotate(0deg)
    100%
        transform: rotate(45deg)
@-moz-keyframes top
    0%
        top: 0%
    60%
        top: 45.8333333333%
        transform: rotate(0deg)
    100%
        transform: rotate(45deg)
@keyframes top
    0%
        top: 0%
    60%
        top: 45.8333333333%
        transform: rotate(0deg)
    100%
        transform: rotate(45deg)
@-webkit-keyframes bottom
    0%
        bottom: 0%
    60%
        bottom: 45.8333333333%
        transform: rotate(0deg)
    100%
        transform: rotate(-45deg)
@-moz-keyframes bottom
    0%
        bottom: 0%
    60%
        bottom: 45.8333333333%
        transform: rotate(0deg)
    100%
        transform: rotate(-45deg)
@keyframes bottom
    0%
        bottom: 0%
    60%
        bottom: 45.8333333333%
        transform: rotate(0deg)
    100%
        transform: rotate(-45deg)
@-webkit-keyframes topreverse
    0%
        transform: rotate(45deg)
        top: 45.8333333333%
    60%
        transform: rotate(0deg)
        top: 45.8333333333%
    100%
        top: 0%
@-moz-keyframes topreverse
    0%
        transform: rotate(45deg)
        top: 45.8333333333%
    60%
        transform: rotate(0deg)
        top: 45.8333333333%
    100%
        top: 0%
@keyframes topreverse
    0%
        transform: rotate(45deg)
        top: 45.8333333333%
    60%
        transform: rotate(0deg)
        top: 45.8333333333%
    100%
        top: 0%
@-webkit-keyframes bottomreverse
    0%
        transform: rotate(-45deg)
        bottom: 45.8333333333%
    60%
        transform: rotate(0deg)
        bottom: 45.8333333333%
    100%
        bottom: 0%
@-moz-keyframes bottomreverse
    0%
        transform: rotate(-45deg)
        bottom: 45.8333333333%
    60%
        transform: rotate(0deg)
        bottom: 45.8333333333%
    100%
        bottom: 0%
@keyframes bottomreverse
    0%
        transform: rotate(-45deg)
        bottom: 45.8333333333%
    60%
        transform: rotate(0deg)
        bottom: 45.8333333333%
    100%
        bottom: 0%
.csm-mobile-menu-d-1
        position: fixed
        top: 83px
        right: 0
        left: 50%
        bottom: 0
        z-index: 10
        display: block
        margin: 0
        width: calc(100% - 30px)
        height: 0px
        background-color: variables.$color1
        overflow: hidden
        transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1)
        transform: translateX(-50%)
        border-radius: variables.$radius6
        &.active
            height: calc(100vh - 81px)
            .content-area-1
                opacity: 1
                overflow-y: auto
        .content-area-1
            display: block
            max-width: 600px
            margin: 0 auto
            padding: 45px 40px
            opacity: 0
            transition: opacity .3s ease
            transition-delay: 250ms
            overflow: hidden
            max-height: 70vh
.csm-mobile-menu-1
    padding:
        bottom: 30px
    .level-1
        line-height: 1
        margin:
            bottom: 5px
    .level-link-1
        position: relative
        display: block
        @include short-code.textCreate1(16px, 1.2, variables.$fontWeightBold, variables.$color2, 0px)
        padding: 10px 20px 10px 0px
        transition: all 0.3s ease
.csm-slider-1
    .csms1-bg-d-1
        background-position: center !important
        background-repeat: no-repeat !important
        background-size: cover !important
    .csms1-text-1
        @include short-code.textCreate1(70px, 1.2, variables.$fontWeightExtraBold, variables.$white, 20px)
    .csms1-text-2
        @include short-code.textCreate1(20px, 1.4, variables.$fontWeightRegular, variables.$white, 30px)
    &.owl-theme
        .owl-nav
            &.disabled+.owl-dots
                margin: 0
                position: absolute
                left: 50%
                transform: translateX(-50%)
                bottom: 90px
        .owl-dots
            .owl-dot
                span
                    width: 40px
                    background: variables.$white
                    border: 1px solid variables.$color2
                &.active
                    span
                        width: 60px
                        background: variables.$color2
                &:hover
                    span
                        background: variables.$color7

.csm-wave-d-1
    background: url(../img/other/wave-bg-1.svg)
    background-position: center !important
    background-repeat: no-repeat !important
    background-size: cover !important
    position: absolute
    left: 50%
    bottom: 0px
    transform: translateX(-50%)
    z-index: 2
    width: 100%
    height: 85px
.csm-btn-3
    @include short-code.textCreate1(16px, 24px, variables.$fontWeightSemiBold, variables.$white, 0px)
    display: inline-flex
    align-items: center
    justify-content: center
    min-height: 45px
    padding: 5px 10px
    min-width: 150px
    background-color: variables.$color1
    border: 1px solid variables.$color1
    transition: all .3s ease
    text-align: center
    border-radius: variables.$radius6
    &:hover
        background-color: variables.$color6
        color: variables.$white
        border-color: variables.$color6
    i
        padding:
            right: 10px
.csm-btn-4
    @include short-code.textCreate1(16px, 24px, variables.$fontWeightSemiBold, variables.$white, 0px)
    display: inline-flex
    align-items: center
    justify-content: center
    min-height: 45px
    padding: 5px 10px
    min-width: 150px
    background-color: variables.$color2
    border: 1px solid variables.$color2
    transition: all .3s ease
    text-align: center
    border-radius: variables.$radius6
    &:hover
        background-color: variables.$color7
        color: variables.$white
        border-color: variables.$color7
    i
        padding:
            right: 10px
.csm-hmpg-sec-2
    padding: 35px 0px 45px
.csm-icon-head-1
    @include short-code.textCreate1(15px, 1.2, variables.$fontWeightExtraBold, variables.$black, 10px)
    letter-spacing: 1.5px
    &::before
        @include short-code.fontAwesomeCreate('\e574')
        margin:
            right: 10px
        background-color: variables.$color1
        border-radius: 50%
        display: inline-flex
        align-items: center
        justify-content: center
        width: 30px
        height: 30px
        color: variables.$color2
        font-size: 16px
.csm-global-head-1
    @include short-code.textCreate1(50px, 1.3, variables.$fontWeightBold, variables.$color1, 40px)
    letter-spacing: 4px
    span
        font-weight: variables.$fontWeightExtraBold
        color: variables.$color2
.csm-icon-card-1
    display: flex
    flex-wrap: wrap
    align-content: space-between
    height: 100%
    border: 2px solid variables.$white
    border-radius: variables.$radius6
    @include short-code.backgroundShadowCreate(3px, 20px, rgba(0,0,0,.3))
    padding: 18px
    background-color: var(--bg-color)
    transition: all .3s ease
    .csmic1-head-1
        @include short-code.textCreate1(22px, 1.4, variables.$fontWeightExtraBold, variables.$white, 15px)
        letter-spacing: 2px
    .csmic1-image-d-1
        text-align: center
        margin:
            bottom: 15px
        img
            max-height: 80px
    .csmic1-link-1
        @include short-code.textCreate1(16px, 1.4, variables.$fontWeightExtraBold, variables.$white, 0px)
        letter-spacing: 1.6px
        i
            padding:
                left: 8px
            transition: all .3s ease
    &:hover
        transform: scale(1.05)
        .csmic1-link-1
            i
                padding:
                    left: 15px
.csm-hmpg-sec-3
    padding: 45px 0px
    background-color: variables.$color5
    &::before
        content: ''
        background-image: url(../img/other/balloon-bg-1.svg)
        background-position: bottom !important
        background-repeat: no-repeat !important
        background-size: contain !important
        width: 100%
        height: 100%
        position: absolute
        left: 50%
        bottom: 0
        z-index: 0
        transform: translateX(-50%)
.csm-support-card-1
    height: 100%
    border-radius: variables.$radius6
    background-color: variables.$white
    @include short-code.backgroundShadowCreate(3px, 20px, rgba(0,0,0,.1))
    padding: 20px
    transition: all .3s ease
    display: flex
    flex-wrap: wrap
    align-content: space-between
    height: 100%
    .csmsc1-img-d-1
        transition: all .3s ease
        margin:
            bottom: 8px
        img
            border-radius: variables.$radius4
    .csmsc1-text-1
        @include short-code.textCreate1(14px, 1.4, variables.$fontWeightExtraBold, variables.$color2, 5px)
    .csmsc1-text-2
        @include short-code.textCreate1(20px, 1.4, variables.$fontWeightExtraBold, variables.$black, 5px)
    .csmsc1-text-3
        @include short-code.textCreate1(14px, 1.4, variables.$fontWeightRegular, variables.$black, 0px)
        @include short-code.textAfterDots(118px , 118px, 6)
    .csmsc1-text-4
        @include short-code.textCreate1(16px, 1.4, variables.$fontWeightExtraBold, variables.$color2, 5px)
    &:hover
        transform: scale(1.03)
        .csmsc1-img-d-1
            transform: translateY(-5px)
.csm-btn-5
    @include short-code.textCreate1(14px, 22px, variables.$fontWeightSemiBold, variables.$white, 0px)
    display: inline-flex
    align-items: center
    justify-content: center
    min-height: 30px
    padding: 5px
    min-width: 125px
    background-color: variables.$color2
    border: 1px solid variables.$color2
    transition: all .3s ease
    text-align: center
    border-radius: variables.$radius6
    &:hover
        background-color: transparent
        color: variables.$color2
    i
        padding:
            right: 10px
.csm-progress-item-1
    background-color: variables.$color8
    font-size: 9px
    line-height: 1
    color: variables.$white
    font-weight: variables.$fontWeightBold
    margin:
        bottom: 15px
    .csmpi1-bar-1
        background-color: variables.$color2
        transition: all .3s ease
        &::before
            content: ''
            inset: 0px
            position: absolute
            background: variables.$white
            border-radius: variables.$radius6
            opacity: 0
            animation: 2s cubic-bezier(0.5, 1, 0.7, 1) 0s infinite normal none running whiteWave

@keyframes whiteWave
    0%
        width: 0
        opacity: 0.2
    20%
        width: 0
        opacity: 0.5
    100%
        width: 100%
        opacity: 0

.csm-btn-6
    @include short-code.textCreate1(14px, 22px, variables.$fontWeightSemiBold, variables.$white, 0px)
    display: inline-flex
    align-items: center
    justify-content: center
    min-height: 45px
    padding: 5px
    min-width: 125px
    background-color: variables.$color1
    border: 1px solid variables.$color1
    transition: all .3s ease
    text-align: center
    border-radius: variables.$radius6
    &:hover
        background-color: transparent
        color: variables.$color1
    i
        padding:
            right: 10px
.csm-hmpg-sec-4
    padding: 40px 0px 25px
.csm-global-desc-1
    @include short-code.textCreate1(20px, 1.4, variables.$fontWeightMedium, variables.$black, 15px)
.csm-sms-box-1
    .cmsb1-text-1
        @include short-code.textCreate1(20px, 1.4, variables.$fontWeightBold, variables.$color1, 15px)
        a
            display: inline-block
            &::before
                position: relative
                top: 3px
                font-size: 30px
                @include short-code.fontAwesomeCreate('\f0e0')
                padding:
                    right: 10px
    .cmsb1-text-2
        @include short-code.textCreate1(20px, 1.4, variables.$fontWeightMedium, variables.$black, 15px)
    .cmsb1-link-1
        @include short-code.textCreate1(20px, 1.4, variables.$fontWeightBold, variables.$color1, 0px)
        i
            padding:
                left: 5px
            transition: all .3s ease
        &:hover
            i
                padding:
                    left: 15px