@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap')
@import url('../vendor/fontawesome/css/all.min.css')

$mainFontFamily: 'Nunito Sans', sans-serif

$black: #000000
$white: #ffffff

$color1: #27C1B2
$color2: #401FE5
$color3: #7287FD

$radius1: 5px
$radius2: 10px
$radius3: 15px
$radius4: 20px
$radius5: 25px

$fontWeightExtraLight: 200
$fontWeightLight: 300
$fontWeightRegular: 400
$fontWeightMedium: 500
$fontWeightSemiBold: 600
$fontWeightBold: 700
$fontWeightExtraBold: 800
$fontWeightBlack: 900
$fontWeightWeight: 1000

$fontSizeSmall: 14px
$fontSizeMedium: 18px
$fontSizeLarge: 22px