@use 'variables'
@use 'short-code'

@media (min-width:1024px) and (max-width:1100px)
    .csm-slider-1
        .csms1-text-1
            font-size: 60px
    .csm-support-card-1
        padding: 15px
        .csmsc1-text-1
            font-size: 12px
        .csmsc1-text-2
            font-size: 18px
        .csmsc1-text-3
            font-size: 12px
            min-height: 100px
            max-height: 100px
        .csmsc1-text-4
            font-size: 14px

@media (max-width: 1023px)
    .csm-body-ovf-1
        overflow: hidden
    .csm-header-action-m-1
        .csmham1-item-1
            margin:
                right: 10px
            &:last-child
                display: inline-flex
                max-width: 40px
                width: 100%
            &:nth-child(2)
                margin:
                    right: 10px

@media (min-width:768px) and (max-width: 1023px)
    .csm-header-1
        padding: 5px 10px
    .csm-btn-1, .csm-btn-2
        min-height: 35px
        font-size: 14px
    .csm-slider-1
        .csms1-text-1
            font-size: 40px
        .csms1-text-2
            font-size: 18px
    .csm-icon-card-1
        .csmic1-image-d-1
            img
                max-height: 70px
    .csm-global-head-1
        font-size: 40px
    .csm-icon-head-1
        font-size: 14px
    .csm-support-card-1
        padding: 15px
        .csmsc1-text-1
            font-size: 12px
        .csmsc1-text-2
            font-size: 18px
        .csmsc1-text-3
            font-size: 12px
            min-height: 100px
            max-height: 100px
        .csmsc1-text-4
            font-size: 14px
    .csm-page-banner-1
        min-height: 400px
        .csmpb1-text-1
            font-size: 60px

@media (max-width:767px)
    .csm-header-1
        padding: 8px 10px
    .csm-header-action-m-1
        .csm-btn-1, .csm-btn-2
            min-height: 40px
            min-width: 40px
            i
                display: block
                padding:
                    right: 0px
            span
                display: none
    .csm-mobile-menu-d-1
        top: 85px
        &.active
            height: calc(100vh - 86px)
    .csm-slider-1
        .csms1-text-1
            font-size: 28px
        .csms1-text-2
            font-size: 14px
        .csms1-bg-d-1
            background-position: 75% !important
        &.owl-theme
            .owl-nav
                &.disabled+.owl-dots
                    bottom: 45px
    .csm-btn-3, .csm-btn-4
        min-height: 40px
    .csm-wave-d-1
        height: 40px
    .csm-icon-card-1
        .csmic1-image-d-1
            img
                max-height: 50px
        .csmic1-head-1
            font-size: 16px
        .csmic1-link-1
            font-size: 14px
    .csm-global-head-1
        font-size: 26px
        margin:
            bottom: 20px
    .csm-icon-head-1
        font-size: 12px
        &::before
            font-size: 14px
            width: 26px
            height: 26px
    .csm-hmpg-sec-2
        padding: 20px 0px
    .csm-support-card-1
        padding: 15px
        .csmsc1-text-1
            font-size: 12px
        .csmsc1-text-2
            font-size: 18px
        .csmsc1-text-3
            font-size: 12px
            max-height: 66px
            min-height: 66px
            -webkit-line-clamp: 4
        .csmsc1-text-4
            font-size: 14px
    .csm-sms-box-1
        margin:
            bottom: 20px
        .cmsb1-text-2
            font-size: 18px
        .cmsb1-link-1
            font-size: 18px
    .csm-global-desc-1
        font-size: 18px
    .csm-hmpg-sec-4
        padding: 30px 0px 0px
    .csm-global-head-2
        font-size: 26px
    .csm-global-desc-2
        font-size: 14px
    .csm-double-imge-1
        .image-1
            max-width: 300px
        .image-2
            border: 10px solid variables.$white
            margin-top: -90px
            max-width: 250px
    .csm-hmpg-sec-6
        padding: 40px 0px 20px
    .csm-wave-d-2
        height: 40px
    .csm-footer-1
        padding:
            top: 40px
    .csm-page-banner-1
        min-height: 300px
        .csmpb1-text-1
            font-size: 28px